**/*.pyc
*.pyc
*.log
.coverage
coverage.xml
app/htmlcov
**/**/.cache
# Node modules
node_modules/
dist/
build/
npm-debug.log
debug.log
*~
app/assets/static/*
app/assets/media
.project
.pydevproject
.idea
nbproject
image_not_found.jpg
**/**/.sonar/
app/webapp/sonar-project.properties